places
*.elc
auto-save-list
helm-adaptive-history
projectile-bookmarks.eld
el-get/*
projectile.cache
recentf
\#*
*.dat
**/.DS_Store
semanticdb
backup*
.python-environments
bookmarks
url
eshell/history
tramp
anaconda-mode
irony
elpa
eshell
