[submodule "packages/better-defaults"]
	path = packages/better-defaults
	url = https://github.com/technomancy/better-defaults.git
[submodule "packages/rainbow-delimiters"]
	path = packages/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "packages/ibuffer-projectile"]
	path = packages/ibuffer-projectile
	url = https://github.com/purcell/ibuffer-projectile.git
[submodule "packages/swiper-helm"]
	path = packages/swiper-helm
	url = https://github.com/abo-abo/swiper-helm.git
[submodule "packages/swiper"]
	path = packages/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "packages/hl-todo"]
	path = packages/hl-todo
	url = https://github.com/tarsius/hl-todo.git
[submodule "packages/pyenv-mode"]
	path = packages/pyenv-mode
	url = https://github.com/proofit404/pyenv-mode
[submodule "packages/pythonic"]
	path = packages/pythonic
	url = https://github.com/proofit404/pythonic
[submodule "packages/helm-pages"]
	path = packages/helm-pages
	url = https://github.com/david-christiansen/helm-pages.git
[submodule "packages/emacs-color-theme-solarized"]
	path = packages/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "packages/rustfmt"]
	path = packages/rustfmt
	url = https://github.com/fbergroth/emacs-rustfmt.git
[submodule "packages/flycheck-rust"]
	path = packages/flycheck-rust
	url = https://github.com/flycheck/flycheck-rust.git
